python-telegram-bot==20.6
openai-whisper
TTS
torch==2.3.0+cpu
torchaudio==2.3.0+cpu
schedule
feedparser
requests
flask
pillow
beautifulsoup4
git+https://github.com/mlfoundations/open_clip.git
yt-dlp
transformers==4.43.3
--extra-index-url https://download.pytorch.org/whl/cpu